.layoutContainer {
  position: relative;
  min-height: 100vh;
}

.mainContainer {
  position: relative;
  min-height: 100vh;
  margin-left: 78px;
  margin-top: 70px;
  padding: 20px;
  background-color: #e4e9f7;
  transition: all 0.5s ease;
}

.mainContainer.sidebarOpen {
  margin-left: 250px;
}

.dashboardContent {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: calc(100vh - 110px);
}

@media (max-width: 768px) {
  .mainContainer {
    margin-left: 0;
    padding: 10px;
  }

  .mainContainer.sidebarOpen {
    margin-left: 0;
  }
}
